<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DailyTracker</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlets/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlets/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordsServlet</display-name>
    <servlet-name>RecordsServlet</servlet-name>
    <servlet-class>servlets.RecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordsServlet</servlet-name>
    <url-pattern>/servlets/RecordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilesServlet</display-name>
    <servlet-name>FilesServlet</servlet-name>
    <servlet-class>servlets.FilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesServlet</servlet-name>
    <url-pattern>/servlets/FilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>servlets.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/servlets/VerifyServlet</url-pattern>
  </servlet-mapping>
</web-app>